.products-section {
    display: grid;
    justify-items: center;
}

.check-bikes-or-favorites {
    background-color: transparent;
    width: 70vw;
    height: 150px;
}
.products-display-options {
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin: 10px 0;
}

select {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    padding: 8px;
    font-size: 16px;
    width: 20px;
}

.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.favorites-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}
