.create-product {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #595e5e;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}
